.swiper {
	width: 1140px;
	height: 240px;
	margin: 40px 0;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background-color: #f5fafe;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;

	img {
		display: block;
		width: auto;
		height: 100%;
		object-fit: cover;
	}
}
