@import '_variables.css';

section.main {
	h1 {
		color: var(--blue);
	}
	form {
		& > div {
			display: flex;
			flex-direction: row;
		}
	}
}

@media only screen and (max-width: 800px) {
	section.main {
		.inner {
			max-width: 90vw;
			margin: 0 auto;

			div {
				max-width: 90vw;
			}
		}
		form {
			& > div {
				display: flex;
				flex-direction: column;

				* {
					max-width: 80vw;
				}
			}
		}
	}
}
